{{ define "main" }}
    <article class="single">
        {{ .Content }}

        <h1>Our History</h1>
        <div class="timeline">
            {{ range .Site.Data.timeline.timeline }}
            <div class="entry {{ .line }}">
                <div class="tick"></div>
                <div class="date">{{ .date }}</div>
                <div class="text">{{ .text }}</div>
                {{ if .image }}
                <a class="img" href="{{ .image }}">
                    <img src="{{ .image }}">
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </article>
{{ end }}