{{ define "main" }}
    <article class="single">
        {{ .Content }}
        <div class="join-boxes">
            <div class="box">
                <h1>Chairing / Crisis Director Application</h1>
                <img src="/img/chairing_application.png">
                <div>
                    <p><b>Opens:</b> 1 November '23</p>
                    <p><b>Closes:</b> 1 December '23</p>
                </div>
                <a href="https://docs.google.com/forms/d/1Ay7OrSpKnRagsaVU_Ea-cuSOWaajOWba84ToIYJfv1g">Apply Now!</a>
            </div>
            <div class="box">
                <h1>Volunteer to Translate</h1>
                <img src="/img/translation.png">
                <div>
                    <p><b>Opens:</b> 1 December '23</p>
                    <p><b>Closes:</b> 1 March '24</p>
                </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKoWOQohePFOEx37c-liJaM70dbyjL9BQONvAsXAYhkIRu4A/viewform?usp=sf_link">Apply Now!</a>
            </div>
            <div class="box closed">
                <h1>Delegate Application</h1>
                <img src="/img/delegate_application.png">
                <div>
                    <p><b>Opens:</b> 10 December '23</p>
                    <p><b>Closes:</b> 1 March '24</p>
                </div>
                <a>Not Open Yet</a>
            </div>
            <div class="box closed">
                <h1>Delegation Application</h1>
                <img src="/img/delegation_application.png">
                <div>
                    <p><b>Opens:</b> 1 January '24</p>
                    <p><b>Closes:</b> 1 March '24</p>
                </div>
                <a>Not Open Yet</a>
            </div>
        </div>
    </article>
{{ end }}