{{ define "main" }}
    <article class="single">
        {{ .Content }}
        <div class="bios">
            {{ range .Site.Data.secretariat.members }}
            <div class="bio">
                <img src="{{ .img }}" class="photo">
                <h2 class="title">{{ .title }}</h2>
                <h2 class="name">{{ .name }}</h2>
                <p class="course">({{ .course }})</p>
                <p class="bio">{{ .bio }}</p>
            </div>
            {{ end }}
        </div>
    </article>
{{ end }}