<div class="banner">
    Apply for chairing - deadline 01/12/2023
</div>
<header>
    <nav id="nav">
        <a href="/" class="logo">
            {{ if eq .Name "NOTTSMUN 2024" }}
            <img src="/img/nottsmun_white.png">
            {{ else }}
            <img src="/img/nottsmun.png">
            {{ end }}
        </a>
        {{ range .Site.Menus.main }}
        {{ if eq .Name $.Name }}
            <a href="{{ .URL }}" class="current">{{ .Name }}</a>
        {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        {{ end }}
    </nav>
</header>