<div class="banner">
    <a href="/join-us">Delegate applications open from 10/12</a>
</div>
<header>
    <button class="toggle-nav">
        <img src="/img/nottsmun.png">
        <h1>
            <a href="/">NOTTSMUN 2024</a>
        </h1>
        <img src="/img/menu.png" onclick="toggleNav()">
    </button>
    <nav id="nav">
        <button class="toggle-nav right" onclick="toggleNav()">
            <img src="/img/menu.png">
        </button>
        <a href="/" class="logo">
            {{ if eq .Name "NOTTSMUN 2024" }}
            <img src="/img/nottsmun_white.png">
            {{ else }}
            <img src="/img/nottsmun.png">
            {{ end }}
        </a>
        {{ range .Site.Menus.main }}
        <div class="submenu">
            <a href="{{ .URL }}"
                {{ if eq .Name $.Name }} class="current" {{ end }}>
                {{ .Name }}
            </a>

            {{ if .HasChildren }}
                <ul class="children">
                {{ range .Children }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
                </ul>
            {{ end }}
        </div>
        
        {{ end }}
    </nav>
</header>