{{ define "main" }}
<div class="background">
    <h1>NOTTSMUN 2024</h1>
    <h2>building bridges</h2>
    <h3>15-17 March 2024</h3>
</div>
<article>
    <p>
        We are beyond excited to welcome you back to Nottingham for the second edition of NOTTSMUN!  We have listened to your feedback from last year and implemented it into every stage of planning for <b>NOTTSMUN 2024</b>. This year we aim to go bigger and exceed your expectations at every level!
    </p>

    <p>
        <b>NOTTSMUN  2024</b> will include five committees: <a href="/committees/disec">DISEC</a>, <a href="/committees/sochum">SOCHUM</a>, <a href="/committees/sc">SC</a>, <a href="/committees/cop">COP</a> and <a href="/committees/crisis">Crisis</a>. Just as last year, we will offer free tea and coffee to all the attendees. Prepare yourself for three exciting conference days with two socials and an unforgettable closing ceremony.  
    </p>

    <p>
        The theme for this year is “building bridges”. We want to focus on connections between people, on international cooperation and on the importance of staying connected and maintaining diplomatic dialogue.  
    </p>

    <p>
        The event will take place in <b>University Park Campus</b>, from the <b>15th of March to the 17th of March</b>. Don't wait! Build your metaphorical bridge to us by submitting your application and joining our conference as a chair, crisis director or delegate. 
    </p>

    <p>
        We are looking forward to seeing you in the glorious city of Robin Hood!
    </p>

    <h1>Committees</h1>

    <div class="committees-list">
        {{ $pages := where .Site.RegularPages "Section" "committees" }}
        {{ range $pages }}
            <a class="committee" href="{{ .Permalink }}">
                <img src="{{ .Params.logo }}">
                <h2>{{ .Title }}</h2>
            </a>
        {{ end }}
    </div>
</article>
{{ end }}