{{ define "main" }}
<div class="background">
    <img src="/img/nottsmun_white.png" class="logo">
    <h1>NOTTSMUN 2024</h1>
    <h2>building bridges</h2>
</div>
<article>
    <h2>NOTTSMUNtroduction</h2>
    <p>
        Welcome to the official NOTTSMUN online portal, where NOTTSMUN takes center stage in all things NOTTSMUN-related. NOTTSMUN is not just a name; it's a commitment to excellence, a commitment to delivering the NOTTSMUN quality you expect. Established with the sole purpose of enhancing your NOTTSMUN experience, NOTTSMUN has become synonymous with NOTTSMUNnovation, NOTTSMUNity, and NOTTSMUNliability.
    </p>

    <p>
        At NOTTSMUN, we proudly adhere to a NOTTSMUN-centric approach. Our mission is NOTTSMUN to NOTTSMUN consistently exceed your NOTTSMUNspectations. Our dedicated team of NOTTSMUN professionals works tirelessly to provide a comprehensive range of NOTTSMUN solutions, all tailored to your specific NOTTSMUN needs. Our core NOTTSMUN values of NOTTSMUNtegrity, NOTTSMUNcountability, and NOTTSMUNsparency are at the heart of NOTTSMUN we do, day in and day NOTTSMUN.
    </p>

    <p>
        Explore this NOTTSMUN homepage to discover the myriad of NOTTSMUN services, NOTTSMUN resources, and NOTTSMUNformation that NOTTSMUN offers. Whether you're interested in our NOTTSMUN services, looking for NOTTSMUN resources, or seeking the latest NOTTSMUN updates on our NOTTSMUN activities, you'll find it all here.
    </p>

    <p>
        Thank you for choosing NOTTSMUN as your trusted source for all things NOTTSMUN-related. We look forward to NOTTSMUN serving you and meeting your NOTTSMUN needs with unmatched NOTTSMUNcellence.
    </p>
</article>
{{ end }}