@media screen and (max-width: 800px) {
    div.background {
        transform: translateY(-150px);
    }

    nav {
        flex-wrap: wrap;
        width: 90%;
        height: 150px;
        padding-top: 25px;
    }

    nav a.logo {
        width: 100%;
        text-align: center;
    }

    nav a.logo img {
        padding: 0;
    }

    div.background {
        margin-bottom: -130px;
        padding-top: 50px;
        min-height: 350px;
        height: calc(100vh - 30px);
        max-height: none;
    }

    div.background h1 {
        font-size: 9vw;
    }

    div.background h2 {
        font-size: 5vw;
    }

    div.committees-list {
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px 50px;
    }

    div.committees-list a.committee {
        width: 100px;
    }

    form {
        grid-template-columns: auto;
        padding: 0;
    }

    form label, form input, form textarea {
        grid-column: 1;
    }

    form label {
        text-align: left;
    }

    article figure img {
        margin: 10px 0;
    }

    div.join-boxes {
        flex-direction: column;
        gap: 20px;
    }

    div.join-boxes div.box {
        width: 100%;
    }

    div.gallery {
        justify-content: center;
    }

    div.gallery img {
        width: 100%;
    }
}