* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

div.background {
    transform: translateY(-80px);
    color: rgb(235, 235, 235);
    font-size: 2rem;
    width: 100%;
    aspect-ratio: 1.33;
    max-height: 750px;
    background-image: url("/img/banner.jpg");
    background-blend-mode: multiply;
    background-color: rgb(152, 141, 151);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.background > * {
    text-shadow: 0px 0px 15px rgba(0,0,0,255);
}

div.background h1 {
    font-weight: bold;
    margin: 0;
    letter-spacing: 3px;
    color: white;
}

div.background h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 0;
    color: rgba(235, 235, 235, 0.9);
}

div.background h3 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin: 10px;
    color: rgba(235, 235, 235, 0.9);
}

div.background img.logo {
    margin-bottom: 40px;
    width: 180px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 255));
}

div.banner {
    font-size: 0.75rem;
    color: rgb(235, 235, 235);
    background-color: rgb(43, 50, 64);
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    font-style: italic;
}

div.banner a {
    color: rgb(235, 235, 235);
}

nav {
    font-size: 0.8rem;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    height: 80px;
    padding: 8px;
    display: flex;
    gap: 8px 15px;
    justify-content: center;
    width: 800px;
    margin: auto;
    left: 0;
    right: 0;
    align-items: center;
}

nav a.current {
    color: #3f5783;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(63, 87, 131);
    transition-duration: 0.3s;
    transition-property: color;
}

nav a {
    color: rgb(43, 50, 64);
}

nav img {
    height: 50px;
    padding-right: 20px;
}

nav div ul.children {
    position: fixed;
    list-style: "↳ ";
    padding-left: 0;
    visibility: hidden;
    margin: 0;
    padding: 5px 15px;
}

nav div:hover ul.children {
    visibility: visible;
}

nav div ul.children:hover {
    visibility: visible;
}

html[page="NOTTSMUN 2024"] nav a {
    color: rgb(235, 235, 235);
}

html[page="NOTTSMUN 2024"] nav a:hover {
    color: rgb(225, 241, 255);
}

html[page="NOTTSMUN 2024"] nav * {
    color: rgb(235, 235, 235);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:hover {
    color: rgb(107, 146, 224);
}

article, footer > div {
    width: 800px;
    max-width: 100%;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0 25px;
}

footer div {
    padding: 0;
    margin: 0;
}

article {
    font-size: 1.4rem;
}

article.single {
    margin-top: 15px;
}

article p {
    margin-top: 0;
    line-height: 1.4em;
}

article h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 8px;
    color: rgb(43, 50, 64);
}

article img {
    width: 100%;
}

article figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px 0;
}

article figure div.wide {
    z-index: -1;
    position: absolute;
    width: 200vw;
    left: -100vw;
    top: 0;
    bottom: 0;
    background-color: rgb(43, 50, 64);
}

article figure p.caption {
    color: rgb(136, 155, 170);
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: right;
    font-style: italic;
    font-size: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    padding: 30px 0;
    margin-top: 30px;
    background-color: rgb(225, 241, 255);
}

footer p {
    margin: 0;
    margin-bottom: 5px;
}

footer p, footer a {
    color: rgb(100, 100, 100);
}

footer img.logo {
    height: 80px;
    margin: 0 30px;
}

div.bios {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

div.bio {
    width: 350px;
}

div.bio img {
    width: 350px;
    height: 340px;
    object-position: top;
    object-fit: cover;
}

div.bio h2.title {
    font-size: 1.5rem;
    color: rgb(107, 146, 224);
    margin-top: 5px;
    margin-bottom: 0;
}

div.bio h2.name {
    font-size: 1.2rem;
    margin: 0;
}

div.bio p.course {
    font-style: italic;
    margin-top: 5px;
}

div.bio p {
    font-size: 1rem;
}

form {
    width: 100%;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px 15px;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

form label {
    grid-column: 1;
    text-align: right;
}

form label[for=body] {
    align-self: baseline;
    padding-top: 10px;
}

form input, form textarea {
    grid-column: 2;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    background-color: rgb(246, 250, 250);
}

form input[type=submit] {
    padding: 10px;
    background-color: rgb(50, 94, 131);
    color: white;
    border-width: 0;
    cursor: pointer;
    font-weight: bold;
}

form input[type=submit]:hover {
    background-color: rgb(43, 50, 64);
}

div.timeline {
    margin-top: 20px;
    margin-left: 50px;
}

div.timeline div.entry {
    border-left: 4px solid rgb(43, 50, 64);
    display: grid;
    grid-template-columns: 40px 70px auto;
    padding-bottom: 40px;
    gap: 10px;
}

div.timeline div.entry.dashed {
    background-color: transparent;
    border-left: 4px dashed rgb(43, 50, 64);
}

div.timeline div.content {
    margin: 0;
}

div.timeline div.date {
    margin-top: -13px;
    font-weight: bold;
    color: rgb(107, 146, 224);
    justify-self: center;
}

div.timeline div.text {
    margin-top: -13px;

}

div.timeline div.tick {
    width: 45px;
    height: 4px;
    background-color: black;
}

div.timeline a.img {
    display: block;
    grid-column: 3;
    max-height: 250px;
    overflow: hidden;
    position: relative;
}

div.timeline a.img img {
    transform: translate(0, calc(-35% + 125px));
}

div.committees-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.committees-list a.committee {
    display: block;
    width: 130px;
    border-radius: 50%;
}

div.committees-list a.committee h2 {
    font-size: 1.4rem;
    text-align: center;
}

img.in-text {
    width: 100px;
    vertical-align: middle;
    margin-right: 20px;
}

div.join-boxes {
    display: grid;
    padding: 0 40px;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    gap: 20px;
}

div.join-boxes div.box {
    padding: 15px;
    font-size: 0.9rem;
    border-radius: 10px;
    background-color: rgb(197, 226, 252);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

div.join-boxes div.closed {
    background-color: rgb(221, 232, 242);
}

div.join-boxes div.box p {
    margin: 0;
    font-size: 1.2em;
}

div.join-boxes div.box a {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(43, 50, 64);
    color: rgb(241, 246, 255);
}

div.join-boxes div.box.closed a {
    text-decoration: none;
    background-color: rgb(103, 109, 120);
    color: rgb(178, 185, 197);
}

div.join-boxes img {
    width: 150px;
    margin: auto;
}

div.gallery {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-left: auto;
}

div.gallery img {
    width: 240px;
}

div.gallery h2 {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0;
}

div.gallery-list a {
    background-color: rgb(43, 50, 64);
    color: rgb(227, 233, 244);
    width: 100%;
    display: block;
    padding: 15px;
}

div.gallery-list p {
    margin: 0;
    font-weight: normal;
    font-size: 0.8em;
}

div.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
}

div.socials img {
    width: 80px;
    transition-duration: 0.15s;
}

div.socials img:hover {
    filter: saturate(10) opacity(0.4);
}

footer div.socials {
    gap: 10px;
    justify-content: left;
    margin-bottom: 10px;
}

footer div.socials img {
    width: 40px;
    filter: saturate(2) opacity(0.3);
}

h2.level {
    font-size: 1.3rem;
    margin-top: 30px;
}

h1.committee {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button.toggle-nav {
    display: none;
}